{{ if (eq .chezmoi.os "linux") }}
if [[ -z "${SSH_AUTH_SOCK}" ]]; then
    export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/ssh-agent.socket"
fi
{{ end }}

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

# If running interactively, execute fish
exec fish