{{ if (eq .chezmoi.os "linux") }}
if [[ -z "${SSH_AUTH_SOCK}" ]]; then
    export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/yubikey-agent/yubikey-agent.sock"
fi
{{ end }}

[[ -f $HOME/.profile ]] && source $HOME/.profile
[[ -f $HOME/.bashrc ]] && source $HOME/.bashrc
