# vim: set ft=fish :

# fnm (node.js)
if command -q fnm
    if status is-interactive
        fnm env --use-on-cd --version-file-strategy recursive | source
        or echo "fnm initialization failed"
    end
end

# opam
if [ -f $HOME/.opam/opam-init/init.fish ]
    source $HOME/.opam/opam-init/init.fish; or echo "opam initialization failed"
end

# interactice shells
if not status is-interactive
    return
end

# starship
if status is-interactive && command -q starship
    starship init fish | source; or echo "starship initialization failed"
end

# direnv
if status is-interactive && command -q direnv
    direnv hook fish | source; or echo "direnv: initialization failed"
end

# fzf
if command -q fzf
    fzf --fish | source; or echo "fzf: initialization failed"
end

# shell integration for VSCode (OSC 633)
if string match -q "$TERM_PROGRAM" vscode
    source (code --locate-shell-integration-path fish); or echo "VSCode shell integration failed"
end

# shell integration for WezTerm (OSC 1337)
if string match -q "$TERM_PROGRAM" WezTerm
    if set -q HOME
        __wezterm_set_user_var HOME "$HOME"

        __wezterm_set_user_var WEZTERM_PROG ""
        function __wezterm_preexec --on-event fish_preexec
            __wezterm_set_user_var HOME "$HOME"
            __wezterm_set_user_var WEZTERM_PROG "$argv[1]"
        end
        function __wezterm_postexec --on-event fish_postexec
            __wezterm_set_user_var WEZTERM_PROG ""
        end
    end
end

# key bindings
bind \cg __ghq_look

# abbrs
# Git
abbr --add --global -- g git
abbr --add --global -- gl git-logsearch
abbr --add --global -- gc 'git commit'
abbr --add --global -- gp 'git push'
abbr --add --global -- gpf 'git push --force-with-lease'
abbr --add --global -- lg lazygit

abbr --add --global -- k kubectl
abbr --add --global -- kc kubectx
abbr --add --global -- kn kubens

abbr --add --global -- a aws
abbr --add --global -- te terraform

# Node.js
abbr --add --global -- pn pnpm
